.header {
  max-width: 136rem;
  margin: 0 auto;

  &__container {
    position: relative;
    height: 100%;
  }

  &__home {
    background-image: linear-gradient( to right, rgba(0,0,0, 0.8) 0%,
            rgba(0,0,0, 0) 40%,
            rgba(0,0,0, 0) 100%),
    url("../img/cover.jpg");
    height: 40rem;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__login {
    padding: 1.6rem 0;
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50rem;
  }

  &__categories {
    display: flex;
    margin-top: 4rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}