.icon-box{
  width: 9.8rem;
  height: 9.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 0 1rem;

  &:hover,
  &__active{
    background-color: var(--color-primary);
    cursor: pointer;
    color: #000;
  }

  &__link{
    color: inherit;
    text-decoration: none;
    text-align: center;
  }

  &__svg {
    width: 5.6rem;
    height: 5.6rem;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.icon-box:not(:last-child) {
  margin-right: 1.6rem;
}