:root {
  --color-primary: #CBF23E;
  --color-green: #12C850;
  --color-green-light: #EAFFA0;
  --color-yellow: #FFCA41;
  --color-black: #131313;
  --color-grey-1: #666667;
  --color-grey-2: #F2F2F2;
  --color-grey-3: #C2C2C2;
  --color-grey-4: #EDEDED;
  --color-red: #FF585C;
  --color-bg-orange: #FFEFEF;
  --color-blue: #0072F8;

  --padding-container: 1.6rem;

}